<ul id="app-tasks-container">
    <% tasks.forEach(function(task) { %>
    <li class="app-task" data-task-id="<%= task.id %>">
        <div class="input-group">
            <div class="input-group-addon">
                <label>
                    <input data-checked="<%- task.checked %>" name="toggleTask" type="checkbox" class="standard-checkbox" data-change="onCheckTaskChange">
                    <span class="custom-checkbox"></span>
                </label>
            </div>
            <input type="text" class="form-control" value="<%= task.title %>" data-enterKey="updateTask">
            <div class="input-group-addon">
                <span class="delete-task-btn glyphicon glyphicon-remove" data-click="onDelete"></span>
            </div>
        </div>
    </li>
    <% }) %>
</ul>