<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Todo list</title>
    <link href="node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="styles/style.css" type="text/css" rel="stylesheet">
</head>
<body>

<div class="container">
    <div class="row">
        <div class="task-area col-sm-6 col-sm-offset-3">
            <header>
                <div class="app-title text-center">Todo list</div>
            </header>
            <main>
                <app-new-task></app-new-task>
                <app-tasks></app-tasks>
            </main>
            <footer>
                <div class="todo-task"><%= tasks.length %> items left</div>
                <div class="task-filters">
                    <a class="all-task-filter">All</a>
                    <a class="active-task-filter">Active</a>
                    <a class="completed-task-filter">Completed</a>
                </div>
                <a href="" class="delete-completed-tasks-btn">Clear Completed</a>
            </footer>
        </div>
    </div>
</div>

<script src="node_modules/jquery/dist/jquery.min.js"></script>
<script src="node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="node_modules/lodash/lodash.min.js"></script>
<script src="/app/core.js"></script>
<script src="/app/components/new-task/new-task.component.js"></script>
<script src="/app/components/tasks/tasks.component.js"></script>
<script src="/app/services/http.service.js"></script>
<script src="/app/app.js"></script>
</body>
</html>