<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Todo list</title>
    <link href="node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="styles/style.css" type="text/css" rel="stylesheet">
</head>
<body>

<div class="container">
    <div class="row">
        <div class="col-sm-6 col-sm-offset-3">
            <header>
                <div class="app-title text-center well">Todo list</div>
            </header>
            <main>
                <div class="col-sm-12">
                    <div class="input-group">
                        <div class="input-group-addon">
                            <input name="toggleAllTask" type="checkbox" class="app-check-all-tasks">
                        </div>
                        <input name="newTask" type="text" class="form-control" id="new-task-input"
                               placeholder="Add new task">
                    </div>
                    <div id="app-tasks-container">
                        <% tasks.forEach(function(task) { %>
                        <div class="app-task" data-task-id="<%= task.id %>">
                            <div class="input-group">
                                <div class="input-group-addon">
                                    <input name="toggleAllTask" type="checkbox" class="app-check-all-tasks">
                                </div>
                                <input type="text" class="form-control" value="<%= task.title %>">
                                <div class="input-group-addon">
                                    <div class="input-group-btn">
                                        <div class="app-task-controls">
                                            <div class="btn btn-danger btn-xs delete-task-btn">
                                                <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <% }) %>
                    </div>
                </div>
            </main>
            <footer>

            </footer>
        </div>
    </div>
</div>

<script src="node_modules/jquery/dist/jquery.min.js"></script>
<script src="node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="/scripts/services/http.service.js"></script>
<script src="/scripts/tasks/services/tasks.service.js"></script>
<script src="/scripts/app.js"></script>
</body>
</html>